<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cats</title>
</head>
<body>
	<img src="http://indulgy.ccio.co/e8/Za/WW/294845725299261344Dx6luNIc.jpg" alt="">
	<img src="http://cl.jroo.me/z3/L/J/Q/d/a.aaa-Cat-geek-D.jpg" alt="">
	<img src="http://images.geeknative.com.s3.amazonaws.com/wp-content/uploads/2013/07/Gamer-Cat.jpg" alt="">
	<img src="http://fc05.deviantart.net/fs71/i/2011/105/c/0/nyan_cat_wallpaper_by_nyakiru-d3e1zfl.png" alt="">
	<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRiyKWL79CrrCahJCpiM7UcmotbcQ694wuEVleg5b57Mr0w4ij6" alt="">
</body>
</html>