<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rating</title>
</head>
<body>
	<h1><%= @info[:name] %></h1>
		<img src="<%= @info[:poster] %>">
	<ul>
		<li><%= @info[:summary] %></li>
		<li><%= @info[:cast_members] %></li>
	</ul>
</body>
</html>