<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spotinatra</title>
</head>
<body>
	<h1>Spotinatra</h1>
	<ul>
		<% @song_list.each do |song| %>
			<li><%= song[:name] + " - " + song[:artist] %></li>
		<% end %>
	</ul>
	<form action="/songs/new" method="POST">
		<input type="text" name="name">
		<input type="text" name="artist">
		<input type="submit">
	</form>
</body>
</html>